  	<footer id="footer">
  		<div class="wrap">
    		<p>&copy; 2014/2015 KK &amp; HW</p>
    		<ul>
              <li><a class="ss-icon" target="_blank" href="<%= ENV['holt_facebook'] %>">HW Facebook</a></li>
              <li><a class="ss-icon" target="_blank" href="<%= ENV['kristin_facebook'] %>">KK Facebook</a></li>
    		</ul>
  		</div>
  	</footer>

  </div>

	<div id="mobile_portrait"></div>
	
    <!-- Protocol Relative jQuery fall back if Google CDN offline --><script type='text/javascript' src='<%= ENV['site_url'] %>/js/comment-reply.min.js?ver=3.9.2'></script>
<script type='text/javascript'>
</script>
<script type='text/javascript' src='<%= ENV['site_url'] %>/js/polls-js.js'></script>

</body>
</html>
