<%= header_html %>
<div id="content" >
  <section id="the_rules">
  	<div>

      <h1>Promises</h1>
        <article id="post-24" class="post-24 page type-page status-publish hentry">

          <p>In order to create consistency and a story you can follow, we've created a set of promises to you as you follow our year-long journey.</p>

        </article>

        <article id="rules">

<ol>
<li>We will log weekly</li>
<li>We will log the good and the bad</li>
<li>We will include imagery</li>
<li>We will answer your questions. <a href="mailto:us@holtandkristin.com">Email us</a></li>
<li>We will NOT relocate back to the US within a year</li>
<br /><br />
<li>We will miss you</li>
</ol>
<p>&nbsp;</p>
        </article>
  	</div>
  </section>
  <br style="clear:both;">
</div>

<%= footer_html %>
