<%= header_html %>
<div id="content" >
  <section id="the_rules">
  	<div>

      <h1>Promises</h1>
        <article id="post-24" class="post-24 page type-page status-publish hentry">

          <p>In order to create consistency and a story you can follow, we've created a set of promises to you as you follow our year-long journey.</p>

        </article>

        <article id="rules">

<ol>
<li>We will log our experiences at least once a week</li>
<li>We will your log questions. Email:<a href="mailto:us@holtandkristin.com">us@holtandkristin.com</a></li>
<li>We will log any experience, good and bad, happy and sad</li>
<li>We will tell you about our day-to-day, weekends, and special trips</li>
<li>We will take photos or paint a picture with our descriptions so you can see what we see</li>
<li>We will NOT relocate back to the US within a year (although we'll visit for xmas and weddings)</li>
</ol>
<p>&nbsp;</p>
        </article>
  	</div>
  </section>
  <br style="clear:both;">
</div>

<%= footer_html %>
